
a.links 
{
	text-decoration: none;
}

a:link.links
{
	color: rgba(245, 252, 255, 0.9);
}

a:visited.links
{
	color: rgba(245, 252, 255, 0.9);
}

a:hover.links
{
	color: blue;
}

a:active.links
{
	color: rgba(245, 252, 255, 0.9);
}

h2.links
{
	color: white;
	margin: auto;
	vertical-align: middle;

}

body 
{
	background: rgba(56, 218, 242, 1);
	margin: 0;
	min-height: 100%;
}

/* Home page CSS sheet*/

#centreContent
{
	position: absolute;
	left: 10%;
	right: 10%;
	top: 0%;
	bottom: 0%;
	//border: 3px solid black;
	background: rgba(56, 218, 242);
}

#centreBackground
{
	position: fixed;
	left: 10%;
	right: 10%;
	height: 100%;
	background: yellow;
	z-index: -1;
	//border: 3px solid black;
}

#projects
{
	display: none;
	background: rgba(56, 218, 242);

}

#CV
{
	display: none;
	background: rgba(56, 218, 242);

}

.ProjectsMenu
{
	position: absolute;
	left: 55.2%;
	right: 10%;
	width: 230px;
}

.CVMenu
{
	position: absolute;
	left: 51%;
	right: 10%;
	width: 230px;
}

#navbar
{
	position: absolute;
	left: 10%;
	right: 10%;
	height: 100px;
	//border: 3px solid black;
	text-align: center;
	font-size: 25;
}

#content
{
	//border: 3px solid black;
	position: absolute;
	left: 0%;
	right: 0%;
	top: 10%;
	bottom: 90%;}


#mainTitle
{
	text-align: center;
	font-size: 150;
	font-family: Ariel;
	color: rgba(245, 252, 255, 0.9);
	font-style: italic;
	margin-bottom:  0;
	margin-top: 200px;
	//border: 3px solid black;
}

#subheading
{
	text-align: center;
	font-size: 30px;
	line-height: 0.3;
	color: rgba(245, 252, 255, 0.9);
	font-family: Ariel;
}

#image1
{
	width: 300;
	height: 300;
	display: block;
	margin-left: auto;
	margin-right: auto;
	//padding: 30px;
	border: 3px solid black;
}
	
#models
{
	border: 10px solid black;
	width: 500px;
	height: 500px;
	float: center;
}


/* Contact Us CSS Sheet */


#mainTitleContact
{
	text-align: center;
	font-size: 150;
	font-family: Ariel;
	color: rgba(245, 252, 255, 0.9);
	font-style: italic;
	margin-bottom:  0;
	margin-top: 200px;
}

#mailimage
{
	width: 100px;
	height: 75px;
	//border: 1px solid grey;
	position: fixed;
	left: 35%;
	top: 60%;
}

#facebookimage
{
	width: 150px;
	height: 150px;
	//border: 1px solid grey;
	position: fixed;
	left: 46.5%;
	top: 56%;
}

#linkedinimage
{
	width: 100px;
	height: 100px;
	//border: 1px solid grey;
	position: fixed;
	left: 61.5%;
	top: 58.5%;
}

/* CV CSS Sheet */


#mainTitleCV
{
	text-align: center;
	font-size: 150;
	font-family: Ariel;
	color: rgba(245, 252, 255, 0.9);
	font-style: italic;
	margin-bottom:  0;
	margin-top: 200px;
}

#cvbutton
{
	height: 100px; 
	width: 300px; 
	position: fixed; 
	top: 60%; 
	left: 42.5%; 
	background: rgba(56, 218, 242); 
	color: rgba(245, 252, 255, 0.9); 
	font-size: 25px; 
	font-family: Ariel;
	border: 2px solid grey;
}

/* Projects CSS Sheet */


#mainTitleProjects
{
	text-align: center;
	font-size: 150;
	font-family: Ariel;
	color: rgba(245, 252, 255, 0.9);
	font-style: italic;
	margin-bottom:  0;
	margin-top: 200px;
}

#projecttitle
{
	font-size: 60;
	font-family: Ariel;
	color: rgba(245, 252, 255, 0.9);
	font-style: italic;
	position: fixed;
	top: 42%;
	left: 1.5%;
	text-decoration: underline;
	margin: 25px;
}
